attr==0.3.2
ConfigParser==5.3.0
cryptography==40.0.2
Cython==0.29.34
dl==0.1.0
docutils==0.20.1
HTMLParser==0.0.2
ipython==8.13.2
ipywidgets==8.0.6
Jinja2==3.1.2
keyring==23.13.1
lockfile==0.12.2
numpy==1.24.3
openai==0.27.6
Pillow==9.5.0
Pillow==9.5.0
pinecone_client==2.2.1
protobuf==3.20.3
railroad==0.5.0
Sphinx==7.0.1
streamlit==1.22.0
streamlit_chat==0.0.2.2
tiktoken==0.4.0
tornado==6.3.1
trove_classifiers==2023.5.22
urllib3_secure_extra==0.1.0
google_spreadsheet==0.0.6
google-auth-oauthlib==1.0.0
pandas==2.0.1
pygsheets==2.0.6
langchain==0.0.189
datetime == 5.1


